In [1]:
import pandas as pd
import numpy as np
import pymssql
mssql_conn = pymssql.connect(server='epdm', user='sa', password='Pdmepdme1!',database='ePDM_Elcam')

In [2]:
df_documents=pd.read_sql_query('SELECT * FROM dbo.Documents', mssql_conn)

C:\Users\matan.s\AppData\Local\Temp\ipykernel_99252\3855421330.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_documents=pd.read_sql_query('SELECT * FROM dbo.Documents', mssql_conn)

In [4]:
df_var_val=pd.read_sql_query('SELECT * FROM dbo.VariableValue', mssql_conn)

C:\Users\matan.s\AppData\Local\Temp\ipykernel_99252\4214672097.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_var_val=pd.read_sql_query('SELECT * FROM dbo.VariableValue', mssql_conn)

In [5]:
df_var=pd.read_sql_query('SELECT * FROM dbo.Variable', mssql_conn)

C:\Users\matan.s\AppData\Local\Temp\ipykernel_99252\4272219399.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_var=pd.read_sql_query('SELECT * FROM dbo.Variable', mssql_conn)

In [3]:
df_documents.head()

,DocumentID,Filename,LockProject,UserID,LockDomain,LockPath,Busy,Flushed,DefValStored,RevGenCounter,...,ExtensionID,LockDate,UserDocRefsModified,Deleted,Shared,LockViewID,Link,DocTypeID,ObjectTypeID,Flags
0,1,No Document,2,1,None,None,False,0,0,0.0,...,1.0,NaT,False,False,0,None,False,1.0,0,0
1,5,pl020120000.slddrw,2,1,,,False,2,1,NaN,...,3.0,NaT,False,False,1,None,False,1.0,1,0
2,6,pl020100000.slddrw,2,1,,,False,2,1,NaN,...,3.0,NaT,False,False,1,None,False,1.0,1,0
3,7,pl020110003.slddrw,2,1,,,False,2,1,NaN,...,3.0,NaT,False,False,1,None,False,1.0,1,0
4,8,sp000768.sldprt,2,1,,,False,2,1,NaN,...,5.0,NaT,False,False,1,None,False,1.0,1,0

In [18]:
df_var_val.head()
#get all the rows where ProjectId==87009
df_var_val[df_var_val['ProjectID']==87009]

,VariableID,DocumentID,ProjectID,RevisionNo,ConfigurationID,ValueText,ValueInt,ValueFloat,ValueDate,ValueCache,IsLongText
6960427,139,1,87009,1,1,,NaN,NaN,1900-01-01 00:00:00,,False
7247518,140,1,87009,1,1,,NaN,NaN,1900-01-01 00:00:00,,False
12532339,251,1,87009,1,1,,NaN,NaN,1900-01-01 00:00:00,,False
12664921,252,1,87009,1,1,,NaN,NaN,1900-01-01 00:00:00,,False
12831611,254,1,87009,1,1,04/11/2021,NaN,NaN,2021-11-04 00:00:00,04/11/2021,False
13053909,256,1,87009,1,1,Ayelet Tal Shahar,NaN,NaN,1900-01-01 00:00:00,Ayelet Tal Shahar,False
13418604,261,1,87009,1,1,-,NaN,NaN,1900-01-01 00:00:00,-,False
13923378,302,1,87009,1,1,-,NaN,NaN,1900-01-01 00:00:00,-,False
18231467,681,1,87009,1,1,,NaN,NaN,1900-01-01 00:00:00,,False

In [15]:
start=50
df_var[start:start+10]

,VariableID,VariableName,VariableType,IsDeleted,FlagUnique,FlagMandatory,FlagFreeUpdateAllVersion,FlagFreeUpdateLatestVersion
50,51,Project Code,1,False,False,False,False,False
51,52,Description Of Change,1,False,False,False,False,False
52,53,1_11_DEV,1,False,False,False,False,False
53,54,1_11_Doc_Num,1,False,False,False,False,False
54,55,1_11_Due_Date,1,False,False,False,False,False
55,56,1_11_G_Spec,1,False,False,False,False,False
56,57,1_11_Gray Out,1,False,False,False,False,False
57,58,1_11_Hide,1,False,False,False,False,False
58,59,1_11_Initial Amount,1,False,False,False,False,False
59,60,1_11_Issue_Date,1,False,False,False,False,False

In [25]:
#merge the two df_var_val and df_var base on VariableId
merged1=df_var_val.merge(df_var, left_on='VariableID', right_on='VariableID', how='outer')
merged1.tail(100)

,VariableID,DocumentID,ProjectID,RevisionNo,ConfigurationID,ValueText,ValueInt,ValueFloat,ValueDate,ValueCache,IsLongText,VariableName,VariableType,IsDeleted,FlagUnique,FlagMandatory,FlagFreeUpdateAllVersion,FlagFreeUpdateLatestVersion
24937606,1511,556203,2,1,1,-,NaN,NaN,1900-01-01 00:00:00,-,False,QAApprove,1,False,False,False,False,False
24937607,1511,556204,2,1,1,-,NaN,NaN,1900-01-01 00:00:00,-,False,QAApprove,1,False,False,False,False,False
24937608,1511,556205,2,1,1,-,NaN,NaN,1900-01-01 00:00:00,-,False,QAApprove,1,False,False,False,False,False
24937609,1511,556206,2,1,1,-,NaN,NaN,1900-01-01 00:00:00,-,False,QAApprove,1,False,False,False,False,False
24937610,1512,554685,2,5,1,NO STR - ×—×™×™ ×ž×“×£ 1096,NaN,NaN,None,NO STR - ×—×™×™ ×ž×“×£ 1096,False,1_11_sterilization_new,1,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24937701,1513,571038,2,14,1,-,NaN,NaN,1900-01-01 00:00:00,-,False,PrcdrChooseYESTraining1,1,False,False,False,False,False
24937702,1515,572200,2,4,1,1&2,NaN,NaN,None,1&2,False,TMV-DocType,1,False,False,False,False,False
24937703,1515,572208,2,3,1,1&2,NaN,NaN,None,1&2,False,TMV-DocType,1,False,False,False,False,False
24937704,1515,572208,2,7,1,3,3.0,3.0,None,3,False,TMV-DocType,1,False,False,False,False,False
24937705,1517,572208,2,5,1,System,NaN,NaN,1900-01-01 00:00:00,System,False,Flow,1,False,False,False,False,False

In [34]:
merge2=merged1.merge(df_documents, left_on='DocumentID', right_on='DocumentID', how='outer')

In [57]:
# print(merge2.head())
#get the VariableID and ValueText for DocumentID=56361
merge2[merge2['DocumentID']==56361][['VariableID','ValueText']].to_excel('data_card_report.xlsx', index=False)
# merge2[merge2['DocumentID']==56361]['VariableID','ValueText']